extends layout

block content
  div#headline Quick Wind & Tide Prediction
  div#subheading Shilshole (Lat: 47.6825976 &mdash; Lon: -122.4070743)
  div#dateslider.dragdealer
    div.handle.red-bar
      div.spincontainer
  div#windspeed.grapharea
    div.graphlabel
  div#winddir.grapharea
    div.graphlabel
  div#tide.grapharea
    div.graphlabel
  div#footer All Data Provided By&nbsp;
             a(href="http://www.noaa.gov/") NOAA
             |&nbsp;&ndash; Always check for small craft advisory before sailing! &ndash; &copy;Tres Henry 2012
