extends layout

block content
  div#dateslider.dragdealer
    div.handle.red-bar
      div.spincontainer
  div#windspeed.grapharea
    div#speedspinner.graphspinner
    div.graphlabel &nbsp;
  div#winddir.grapharea
    div#directionspinner.graphspinner
    div.graphlabel &nbsp;
  div#tide.grapharea
    div#tidespinner.graphspinner
    div.graphlabel &nbsp;
