doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dragdealer.css')
    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/dragdealer.min.js')
    script(src='/javascripts/spin.min.js')
    script(src='/javascripts/saildash.js')
  body
    div#content
      div#headline Quick Wind & Tide Prediction
      div#subheading Shilshole (Lat: 47.6825976 &mdash; Lon: -122.4070743)
                     br
                     |Seattle, WA
      block content
      div#footer Data Provided By&nbsp;
                 a(href="http://www.noaa.gov/") NOAA
                 |&nbsp;&ndash; Always check for small craft advisory before sailing!
                 br
                 |Want to see your favorite sailing location listed here?&nbsp;
                 a(href="mailto:tres@treshenry.net") Email Me
                 br
                 |&copy;Tres Henry 2012
