doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dragdealer.css')
    script(src='/javascripts/d3.v2.min.js')
    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/dragdealer.min.js')
    script(src='/javascripts/spin.min.js')
    script(src='/javascripts/saildash.js')
  body
    div#content
      block content
